<label>Filter By:</label>
<input [(ngModel)]="City">
<button class="btn-primary btn" (click)="onSearchCity()">Search</button>
<button class="btn-primary btn" (click)="clearCity()">Clear</button>

<label>Sort by:</label>
<select [(ngModel)]='SortByField' >
    <option value="City">City</option>
    <option value="Price">Price</option>
</select>

<button (click)="onSortDirection()">
    <i *ngIf="SortDirection === 'desc'" class="fa-solid fa-arrow-up-short-wide"></i>
<i *ngIf="SortDirection != 'desc'" class="fa-solid fa-arrow-down-wide-short"></i>
</button>


<div class="row">
    <div *ngFor="let property of properties|filter:SearchCity:'City'|sort:[SortByField,SortDirection]" class = "shadow-lg col-sm-4 p-3">
<app-property-card [propertyName]="property"></app-property-card>
</div>
</div>
